<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BagVana"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".Activity.ProductList.ProductListActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Order.OrderAddressActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Order.AddNewOrderAddressActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activity.Order.OrderActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activity.Product.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Order.CartActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Profile.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Profile.ChangePasswordActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Profile.ProfileActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activity.Home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoginRegister.OTPActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.LoginRegister.ForgotPassword"
            android:exported="true" />
        <activity
            android:name=".Activity.LoginRegister.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.LoginRegister.SignInActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activity.OrderList.OrderListActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.OrderList.OrderDetailActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Wishlist.WishlistActivity"
            android:exported="true" />
    </application>

</manifest>